<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.icare">
    <application
        android:name="com.example.icare.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICare">
        <activity
            android:name="com.example.icare.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add these only after we create the classes:
        <receiver
            android:name="com.example.icare.notifications.ReminderReceiver"
            android:exported="false" />

        <receiver
            android:name="com.example.icare.notifications.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
    </application>
</manifest>
